.pageContainer {
    margin-left: 25px;
    margin-top: 25px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100vh;
    background-color: var(--tg-theme-bg-color);
    overflow-y: auto;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    flex-grow: 1;
    overflow: auto;
}

.header {
    display: flex;
    gap: 40px;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.title {
    font-size: 24px;
    flex-grow: 1;
    font-weight: bold;
    font-family: 'San Francisco', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--tg-theme-text-color);
    text-align: left;
}

.dates {
    font-size: 14px;
    color: var(--tg-theme-hint-color);
    font-family: 'San Francisco', sans-serif;
    margin: 4px 0 0;
}

.joinButton {
    background-color: #1c64d7;
    color: white;
    border: none;
    border-radius: 9999px;
    padding: 8px 16px;
    font-size: 14px;
    font-family: 'San Francisco', sans-serif;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s;
    flex-shrink: 0;
    max-width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.joinButton:hover {
    background-color: #1241a5;
}

.description {
    font-size: 16px;
    max-height: 100px;
    color: var(--tg-theme-text-color);
    font-family: 'San Francisco', sans-serif;
    line-height: 1.5;
    overflow-y: auto; 
    padding-right: 8px;
}

.section {
    margin-bottom: 16px;
}

.section-content {
    padding: 1px 0;
    max-width: 100%;
    margin: 0;
    padding-left: 16px; 
    padding-right: 16px; 
}

.tags {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 4px;
    width: 100%;
    height: fit-content;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 16px;
}

.tags-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0;
    gap: 8px;
    width: 100%;
    height: fit-content;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.tag {
    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-text-color);
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'San Francisco', sans-serif;
    white-space: nowrap;
}

.leaveButton {
    background-color: #1241a5;
    color: white;
    border: none;
    border-radius: 9999px;
    padding: 8px 16px;
    font-size: 14px;
    font-family: 'San Francisco', sans-serif;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s;
    flex-shrink: 0;
    max-width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.participants-container {
    max-height: 350px;
    overflow-y: auto; 
    padding-right: 8px; 
}

.leaveButton:hover {
    background-color: #1c64d7;
}

.editButton {
    padding: 0;
    display: flex;
    margin-left: auto;
    margin-right: 15px;
}

.editButton svg {
    width: 32px; 
    height: 32px;
}