.nav-bar {
    display: flex;
    justify-content: space-around; /* Распределяем кнопки равномерно */
    align-items: center;
    width: 100%;
    padding: 10px 0;
    background-color: var(--tg-theme-secondary-bg-color);
    position: absolute;
    bottom: 0;
}

.nav-link {
    color: var(--tg-theme-hint-color);
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}
